*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Faster One", system-ui;
    background-color: var(--bg-100);
    color: var(--text-100);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

:root{
    --primary-100:#FFD700;
    --primary-200:#ddb900;
    --primary-300:#917800;
    --accent-100:#C0C0C0;
    --accent-200:#626262;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#F7F7F7;
    --bg-200:#ededed;
    --bg-300:#c4c4c4;
      
}

header{
    background-color: var(--primary-100);
    color: var(--bg-200);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .logo{
    height: 6rem;
}

main{
    background-color: var(--primary-300);
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.jokes{
    flex-grow: 1;
    min-height: 63vh;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

form{
    display: flex;
    gap: 0.3rem;
}

form input{
    flex-grow: 1;
    border: none;
    background-color: var(--bg-100);
    padding: 0.5rem;
    border-radius: 1rem;

}

form button{
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;

}

.joke{
    background-color: var(--bg-200);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--bg-100);
}

.jokes .buttons{
    display: flex;
    justify-content: space-around;
    padding-top: 0.3rem;
    align-items: center;
}

.joke button{
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.joke button:hover{   
    background-color: rgba(0, 0, 0, 0.5);
}